*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.presentation {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
    padding: 50px;
}

li {
    min-width: 150px;
    height: 25%;
    border: 1px solid red;
    display: flex;
    flex-grow: 1;
    flex-basis: 25%
}