* {
    margin: 0;
    padding: 0;
}

.presentation {
    position: fixed;
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cells {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    height: 100vh;
    width: 80vw;
    background-color: aquamarine;
    margin: 3em 3em;
}

.cell {
    height: 10em;
    width: 15em;
    border: 1px solid black;
}